@require "./settings/index"
@require "./generics/gen"
@require "./elements/element"
@import  "./tools/*"
@require "./components/btn"
@require "./components/navbar"
@require "./components/logo"
@require "./components/headerContainer"
@require "./components/searchForm"
@require "./components/joinContainer"
@require "./components/card"
@require "./components/partnerContainer"
@require "./components/eventsContainer"
@require "./components/carousel"
@require "./components/cardEvents"
@require "./components/pressContainer"
@require "./components/comunityContainer"
@require "./components/avatar"


