@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
/* font: inherit; */
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: var(--family);
  font-size: var(--size);
}
nav >ul {
  font-size: calc(var(--size) - 0.1rem);
}
nav > button {
  font-size: calc(var(--size) - 0.2rem);
}
h1 {
  font-size: calc(var(--size) + 1.125rem);
  font-weight: var(--bold);
}
h2 {
  font-size: calc(var(--size) + 1.125rem);
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 1.4rem;
  background-color: inherit;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  font-weight: $dsy-bold;
}
.btn--noBorder {
  color: #fff;
  font-weight: $dsy-small;
}
.btn--primary {
  width: 100%;
  background-color: #15aae5;
  color: #fff;
}
.btn--event {
  border: 1px solid #9497a4;
  font-size: 0.8rem;
  color: #15aae5;
  padding: 0.3rem;
}
.navbar {
  background-color: #0b5875;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar__list a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  margin-right: 3rem;
}
.navbar__btnBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 1.9rem;
  width: 6.3rem;
}
.headerContainer {
  font-family: 'Open Sans', sans-serif;
  height: 36rem;
  background-image: radial-gradient(#15aae5 9%, #0b5875 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.headerContainer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: calc(($dsy-size - 0.6rem));
}
.headerContainer__list a {
  color: #fff;
  background-color: #0b5875;
  padding: 0.3rem 0.9rem;
  margin: 0.6rem;
  border-radius: 1.3rem;
  text-decoration: none;
  font-size: 0.6rem;
}
.headerContainer p {
  font-size: 0.6rem;
  margin-top: 3rem;
}
.searchForm {
  position: relative;
}
.searchForm__navbar {
  padding: calc(var(--size) - 0.2rem);
  height: calc(var(--size) + 1.5rem);
  width: calc(var(--size) + 13rem);
  border: none;
  border-radius: calc(var(--size) - 0.5rem);
  background-color: var(--bg-navbar-search);
  color: var(--text-navbar-search);
}
.searchForm__input {
  padding: calc(var(--size) - 0.2rem);
  font-size: calc(var(--size) - 0.2rem);
  font-family: var(--family);
  height: calc(var(--size) + 2.1rem);
  width: calc(var(--size) + 40rem);
  margin: calc(var(--size) + 0.3rem);
  border-radius: calc(var(--size) - 0.7rem);
  border: none;
}
.searchForm__btn {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: calc(var(--size) + 2rem);
  height: calc(var(--size) + 2rem);
  right: calc(var(--size) + 0.3rem);
  top: calc(var(--size) + 0.3rem);
  border: none;
  border-radius: 0px calc(var(--size) - 0.7rem) calc(var(--size) - 0.7rem) 0px;
  background-color: var(--primary-lg);
}
.joinContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 50px;
  background-image: linear-gradient(var(--gradient-color), #fff);
}
.joinContainer__footer {
  margin-top: 50px;
  grid-column-start: 6;
  grid-column-end: 7;
}
.joinContainer__footer p {
  font-size: calc(var(--size) - 0.3rem);
  color: var(--secondary_text-lg);
}
.card {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 36px;
  box-shadow: 0px 2px 15px 0px #e4e4e4;
  background-color: #fff;
}
.card__title {
  margin: calc(($dsy-size + 0.5rem));
  font-size: calc(($dsy-size + 0.5rem));
  font-weight: 600;
}
.card__paragraph {
  margin: calc(($dsy-size + 0.5rem));
  font-size: calc(($dsy-size + 0.4rem));
  font-weight: 400;
}
.card--up {
  grid-column-start: 2;
  grid-column-end: 7;
}
.card--down {
  grid-column-start: 6;
  grid-column-end: 11;
}
.partnerContainer {
  width: 100%;
  height: 60px;
  font-family: var(--family);
}
.partnerContainer p {
  text-align: center;
  font-weight: var(--bold);
  font-size: calc(var(--size) + 0.5rem);
}
.partnerContainer__logoBox {
  text-align: center;
}
.eventsContainer {
  padding: 30px;
  height: 160px;
  background-image: radial-gradient(var(--primary) 9%, var(--bg-navbar) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--family);
}
.eventsContainer > p {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardEvents {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardEvents__calendar {
  border: 1px solid #9497a4;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
  margin: 0px 5px;
  text-transform: uppercase;
  font-size: calc(var(--size) - 0.2rem);
}
.cardEvents__calendar :nth-child(2) {
  font-size: calc(var(--size) + 1rem);
}
.cardEvents__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.cardEvents__details p {
  margin-bottom: 8px;
}
.cardEvents__details :nth-child(1) {
  font-weight: 600;
  font-size: calc(var(--size) + 0.1rem);
}
.pressContainer {
  height: calc(var(--size) * 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size);
}
.pressContainer p {
  margin: calc(var(--size) + 0.5rem);
  text-transform: uppercase;
  font-size: calc(var(--size) - 0.1rem);
  color: var(--secondary_text-lg);
}
.pressContainer__logoList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.pressContainer__logoList img {
  width: calc(var(--size) + 8rem);
  margin: 0rem calc(var(--size) - 0.3rem);
}
