@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@500&display=swap')

:root 

    /* Color Definition */

    $dsy-primary = #15aae5
    $dsy-primary-lg = #E3F5FC;
    $dsy--bg-navbar = #063141;
    $dsy-bg-navbar-search = hsla(0, 0%, 100%, 0.15);
    $dsy-text-navbar-search = hsla(0, 0%, 100%, 0.3);
    $dsy-gradient-color = rgba(82, 173, 209, 0.15);
    $dsy-primary_text = #ffffff;
    $dsy-secondary_text = #2f3137;
    $dsy-secondary_text-lg = #9497A3;
    $dsy-backgrd = #50add1;
    $dsy-neutral = #e6e6eb;
    $dsy-neutral-lightest = #f7f8fa;

    /* Font */
    $dsy-size = 1rem;
    $dsy-family = 'Open Sans', sans-serif;
    $dsy-weight-bold = 600;
    $dsy-weight-small = 400;

    /**/



