@import url(“https://fonts.googleapis.com/css?family=Open+Sans:wght@500&display=swap”);

:root {

    /* Color Definition */
    --primary: #15aae5;
    --primary-lg:#E3F5FC;
    --bg-navbar: #063141;
    --bg-navbar-search: hsla(0, 0%, 100%, 0.15);
    --text-navbar-search: hsla(0, 0%, 100%, 0.3);
    --gradient-color: rgba(82, 173, 209, 0.15);
    --primary_text: #ffffff;
    --secondary_text:#2f3137;
    --secondary_text-lg: #9497A3;
    --backgrd:#50add1;
    --neutral:#e6e6eb;
    --neutral-lightest:#f7f8fa;

    /* Font */
    --size: 1rem;
    --family: 'Open Sans', sans-serif;
    --bold: bold;
    --small: lighter;

    /**/
}


