@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@500&display=swap')

/* Color Definition */

$dsy-primary = hsl(197, 83%, 49%)
$dsy-primary-lg = hsl(197, 81%, 94%)
$dsy-bg-navbar = hsl(196, 83%, 25%)
$dsy-bg-navbar-search = hsla(0, 0%, 100%, 0.15)
$dsy-text-navbar-search = hsla(0, 0%, 100%, 0.3)
$dsy-gradient-color = hsla(197, 58%, 57%, 0.15)
$dsy-primary_text = hsl(0, 0%, 100%)
$dsy-secondary_text = hsl(225, 8%, 20%)
$dsy-secondary_text-lg = hsl(228, 8%, 61%)
$dsy-backgrd =  hsl(197, 58%, 57%)
$dsy-neutral = hsl(240, 11%, 91%)
$dsy-neutral-lightest = hsl(165, 33%, 98%)

    /* Font */
$dsy-size = 1rem;
$dsy-family = 'Open Sans', sans-serif;
$dsy-weight-bold = 600;
$dsy-weight-small = 400;
$dsy-sizePx = 16px;


