.avatar
    border-radius 50%
    width $dsy-size + 3.7rem
    height $dsy-size + 3.7rem

    &--small
        width $dsy-size + 0.5rem
        height $dsy-size + 0.5rem
        margin $dsy-size - 0.6rem
