.avatar
    /* border-radius 50% */
    width pxToRem(60)
    height pxToRem(60)
    &--usa 
        position absolute
        top 150px
        left 250px
         

    &--small
        width pxToRem(24)
        height pxToRem(24)
        margin pxToRem(6)

    
        

   