.avatar{
    border-radius: 50%;
    width: calc(var(--size) + 3.7rem);
    height: calc(var(--size) + 3.7rem);

}

.avatar--small{
    width: calc(var(--size) + 0.5rem);
    height: calc(var(--size) + 0.5rem);
    margin:  calc(var(--size) - 0.6rem)
}