.btn
	cursor pointer
	text-transform uppercase
	font-size $dsy-size - 0.4rem
	line-height $dsy-size + 0.4rem
	background-color inherit
	border none
	border-radius $dsy-size - 0.7rem
	padding $dsy-size - 0.5rem $dsy-size - 0.2rem
	font-weight $dsy-bold

	&--noBorder
		color $dsy-primary_text
		font-weight $dsy-small

	&--primary
		width 100%
		background-color $dsy-primary
		color $dsy-primary_text

	&--event
		border 1px solid $dsy-secondary_text-lg
		font-size $dsy-size - 0.2rem
		color $dsy-primary
		padding $dsy-size - 0.7rem