
@require "./tools/function/pxToRem"
.btn
	
	cursor pointer
	text-transform uppercase
	font-size pxToRem(12)
	line-height pxToRem(20)
	background-color inherit
	border none
	border-radius pxToRem(4)
	padding pxToRem(8) pxToRem(12)
	font-weight $dsy-weight-bold

	&--noBorder
		color $dsy-primary_text
		font-weight $dsy-weight-small

	&--primary
		
		background-color $dsy-primary
		color $dsy-primary_text
		font-weight $dsy-weight-bold

	&--event
		border 1px solid $dsy-secondary_text-lg
		font-size $dsy-size - 0.2rem
		color $dsy-primary
		padding $dsy-size - 0.7rem