.btn
	cursor pointer
	text-transform uppercase
	font-size calc(var(--size) - 0.4rem)
	line-height calc(var(--size) + 0.4rem)
	background-color inherit
	border none
	border-radius calc(var(--size) - 0.7rem)
	padding calc(var(--size) - 0.5rem ) calc(var(--size) - 0.2rem)
	font-weight var(--bold)

	&--noBorder
		color var(--primary_text)
		font-weight var(--small)

	&--primary
		width 100%
		background-color $dsy-color-primary
		color var(--primary_text)

	&--event
		border 1px solid rgb(54, 50, 50)
		font-size calc(var(--size) - 0.2rem)
		color $dsy-color-primary
		padding calc(var(--size) - 0.7rem)
