.btn{
  cursor: pointer;
  text-transform: uppercase;
  font-size: calc(var(--size) - 0.4rem);
  line-height: calc(var(--size) + 0.4rem);
  background-color: inherit;
  border: none;
  border-radius: calc(var(--size) - 0.7rem);
  padding: calc(var(--size) - 0.5rem ) calc(var(--size) - 0.2rem);
  font-weight: var(--bold);
  width: 100%;
}

.btn--noBorder {
  color: var(--primary_text);
  font-weight: var(--small);
}

.btn--primary {
  
  background-color: var(--primary);
  color: var(--primary_text);
}

.btn--event {
  border: 1px solid #9497a3;
  font-size: calc(var(--size) - 0.2rem);
  color: var(--primary);
  padding: calc(var(--size) - 0.8rem);
  width: 50%;
}
