.card
    font-family $dsy-family
    margin-bottom pxToRem(50)
    border-radius pxToRem(12)
    padding pxToRem(36)
    box-shadow( 0px, 1px , 15px, #00000014, 5px, 1px , 15px, #00000014 ) 
    bg-color($dsy-primary_text)

    &__title
        line-height pxToRem(34)
        font-size pxToRem(26)
        font-weight $dsy-weight-bold



    &__paragraph
        line-height pxToRem(24)
        margin pxToRem(24) 0
        font-size pxToRem(24)
        font-weight $dsy-weight-small

    &__footer
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        margin-top pxToRem(30)


    &--up
        grid-column-start 2
        grid-column-end 7


    &--down
        grid-column-start 6
        grid-column-end 11

    
   
    &__author
        display flex
        flex-direction row
        justify-content center
        align-items center
    

    &--comunity
        max-width pxToRem(380)
        display flex
        flex-direction column
        margin pxToRem(10)

    &--comunity 
        > p
            font-size pxToRem(14)
            font-style italic
            line-height pxToRem(22)
    







