.carousel
    display flex
    flex-direction row
    justify-content space-evenly

    &--events
        overflow auto
        white-space nowrap 
        width 100%
        justify-content space-between

    &--comunity
        @media (max-width: $dsy-screen-tablet)
            flex-direction column
            padding pxToRem(20)
