.comunityContainer 
  
    display flex
    flex-direction column
    align-items center
    height $dsy-size + 70rem


    &__illustration 
        text-align center


    &__illustration img 
        width 70%


    &__footer 
        display flex
        flex-direction column
        align-items center 
        justify-content center
        margin $dsy-size + 2rem

    &__footer p
        text-align center
        font-size $dsy-size - 0.3rem
        color $dsy-secondary_text-lg
        margin $dsy-size - 0.3rem 0rem


.comunityContainer 
    > p 
        font-size: $dsy-size + 0.4rem
        font-weight $dsy-weight-bold
        margin $dsy-size + 0.7rem