.comunityContainer

    display flex
    flex-direction column
    align-items center


    &__illustration
        text-align center


    &__illustration img
        width 70%
        margin pxToRem(48)


    &__footer
        display flex
        flex-direction column
        align-items center
        justify-content center
        margin pxToRem(48)

    &__footer p
        text-align center
        font-size pxToRem(14)
        color $dsy-secondary_text-lg
        margin pxToRem(6)



        > p
            font-size: pxToRem(22)
            font-weight $dsy-weight-bold
            margin pxToRem(26) 0
