.headerContainer 
    font-family $dsy-family
    height $dsy-size + 35rem
    background-image radial-gradient($dsy-primary 9%, $dsy-bg-navbar 100%)
    display flex
    flex-direction column
    justify-content center
    align-items center
    color $dsy-primary_text

    &__list 
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        margin $dsy-size - 0.6rem


    &__list a 
        color $dsy-primary_text
        background-color $dsy-bg-navbar
        padding $dsy-size - 0.7rem $dsy-size - 0.1rem
        margin $dsy-size - 0.4rem
        border-radius $dsy-size + 0.3rem
        text-decoration none
        font-size $dsy-size - 0.4rem

.headerContainer p
        font-size $dsy-size - 0.4rem
        margin $dsy-size + 1rem


