
.joinContainer
    display grid
    width 100%
    grid-template-columns repeat(12, 1fr)
    padding-top pxToRem(144)
    gradient(#d7ebf5, #fff)

    @media (max-width: $dsy-screen-tablet)
        padding-top pxToRem(50) 

        

    &__footer
        /* margin-top pxToRem(50) */
        grid-column-start 5 
        grid-column-end 9
        text-align: center
        
        @media (max-width: $dsy-screen-tablet)
            grid-column-start 3 
            grid-column-end 11
            margin-top pxToRem(10)


        p 
            font-size pxToRem(14)
            color $dsy-secondary_text-lg
            font-weight $dsy-weight-small 
            margin-top pxToRem(6)
            
            @media (max-width: $dsy-screen-tablet)
                font-size pxToRem(10)
        
