.joinContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 50px;
    background-image: linear-gradient(var(--gradient-color),white);
}
