.joinContainer
    display grid
    grid-template-columns auto auto auto auto auto auto auto auto auto auto auto auto
    padding 50px
    background-image linear-gradient ($dsy-gradient-color , white)


    &__footer
        margin-top 50px
        grid-column-start 6 
        grid-column-end 7 
   


    &__footer p 
        font-size $dsy-size - 0.3rem
        color $dsy-secondary_text-lg
