  
.partnerContainer 
  display flex 
  flex-direction column 
  align-items center 
  justify-content space-between
  margin pxToRem(24)

  &__logoBox
     
      display flex 
      flex-direction row 
      align-items center 
      justify-content space-between
  &__logoBox
      img
        padding pxToRem(10)

.partnerContainer p 
  margin pxToRem(48)
  text-align center
  font-weight $dsy-weight-bold 
  font-size pxToRem(26)



