  
.partnerContainer 
  margin pxToRem(60) 0

  p 
    text-align center
    font-weight $dsy-weight-bold 
    font-size pxToRem(26)
    margin-bottom pxToRem(48)  

  &__logoBox     
      display flex 
      flex-direction row
      justify-content space-evenly
      margin pxToRem(24) 0
     

  



