@require "./tools/function/pxToRem"
  
.partnerContainer 
  display flex 
  flex-direction column 
  align-items center 
  justify-content space-between
  margin pxToRem(24)

  &__logoBox
      margin pxToRem(24) pxToRem(36)
      padding pxToRem(16)
      display flex 
      flex-direction row 
      align-items center 
      justify-content space-between

.partnerContainer p 
  margin pxToRem(48)
  text-align center
  font-weight $dsy-weight-bold 
  font-size pxToRem(26)



