.pressContainer 
    height $dsy-size * 10rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding $dsy-size
     
    p 
        margin $dsy-size + 0.5rem
        text-transform uppercase
        font-size $dsy-size - 0.1rem
        color $dsy-secondary_text-lg


    &__logoList 
        display flex
        flex-direction row
        justify-content space-evenly
        align-items center
        overflow auto
        white-space nowrap 
        

        @media (max-width: $dsy-screen-tablet)
            justify-content space-between
            width 100%



    &__logoList img
        width $dsy-size + 8rem
        margin 0rem $dsy-size - 0.3rem


   

