.searchForm {
    position: relative;
    
}

.searchForm__navbar {
    padding: calc(var(--size) - 0.2rem) ;
    height: calc(var(--size) + 1.5rem);
    width: calc(var(--size) + 13rem);
    border: none;
    border-radius: calc(var(--size) - 0.5rem);
    background-color: var(--bg-navbar-search);
    color: var(--text-navbar-search);
}

.searchForm__input {
    padding: calc(var(--size) - 0.2rem) ;
    font-size: calc(var(--size) - 0.2rem);
    font-family: var(--family);
    height: calc(var(--size) + 2.1rem);
    width: calc(var(--size) + 40rem);
    margin: calc(var(--size) + 0.3rem);
    border-radius: calc(var(--size) - 0.7rem);
    border: none;
}

.searchForm__btn {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    width: calc(var(--size) + 2rem);
    height: calc(var(--size) + 2rem);
    right: calc(var(--size) + 0.3rem);
    top: calc(var(--size) + 0.3rem);
    border: none;
    border-radius: 0px calc(var(--size) - 0.7rem ) calc(var(--size) - 0.7rem ) 0px; 
    background-color: var(--primary-lg);
}