.searchForm 
    position relative
    
    &__navbar 
        padding $dsy-size - 0.2rem
        height $dsy-size + 1.5rem
        width $dsy-size + 13rem
        border none
        border-radius $dsy-size - 0.5rem
        bg-color($dsy-bg-navbar-search)
        color $dsy-text-navbar-search


    &__input 
        padding $dsy-size - 0.2rem 
        font-size $dsy-size - 0.2rem
        font-family $dsy-family
        height $dsy-size + 2.1rem
        width $dsy-size + 40rem
        margin $dsy-size + 0.3rem
        border-radius $dsy-size - 0.7rem
        border none


    &__btn
        cursor pointer
        position absolute
        z-index 3
        width $dsy-size + 2rem
        height $dsy-size + 2rem
        right $dsy-size + 0.3rem
        top $dsy-size + 0.3rem
        border none
        border-radius 0px $dsy-size - 0.7rem  $dsy-size - 0.7rem  0px 
        bg-color($dsy-primary-lg)
