.searchForm 
    font-size pxToRem(12)
    width 100%

    &--navbar
        margin pxToRem(6)
        width 30%

    &--navbar input
        height pxToRem(36)
        bg-color($dsy-bg-navbar-search)
        color $dsy-text-navbar-search

    &--header 
        position relative 
        margin pxToRem(48) 0
    
    &--header input
        height pxToRem(48)


    &__btn
        cursor pointer
        position absolute
        z-index 3
        width pxToRem(48)
        height pxToRem(48)
        right 0
        top 0
        border none
        border-radius 0 pxToRem(4)  pxToRem(4)  0 
        bg-color($dsy-primary-lg)

.searchForm input 
    width 100%
    border-radius pxToRem(4)
    border none
    padding pxToRem(12)

