*{
    font-family: var(--family);
    font-size: var(--size)
}
nav >ul {
    font-size: calc(var(--size) - 0.1rem)
}
nav > button {
    font-size: calc(var(--size) - 0.2rem)
}
 
h1{
    font-size: calc( var(--size) + 1.125rem );
    font-weight: var(--bold)
}
h2{
    font-size: calc( var(--size) + 1.125rem );
}


