body
    font-family $dsy-family
    font-size $dsy-size

nav 
    >ul 
        font-size $dsy-size - 0.1rem

nav 
    > button 
        font-size $dsy-size - 0.2rem

 
h1
    font-size $dsy-size + 1.125rem
    font-weight $dsy-weight-bold

h2
    font-size $dsy-size + 1.125rem



